[build]
  command = "npm install typescript && npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  SECRETS_SCAN_OMIT_PATHS = "src/pages/Contact.tsx,src/pages/IntegrityPolicy.tsx,src/pages/About.tsx"

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 5173
  autoLaunch = false

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"